@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
/* Elements du DOM */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1 {
    padding-top: 40px;
}

.container-home {
    font-family: "Aleo", sans-serif;
}

.home picture {
    text-align: center;
}

.information-fermeture {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #88021f;
    color: #fff;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
}

.information {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: #88021f;
    color: #fff;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
}

.information a {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}

.horaires {
    margin-top: 10px;
    margin-bottom: 30px;
    color: white;
}

.horaires h2 {
    font-size: 20px;
    text-align: center;
}

.horaires ul {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

.horaires ul li {
    line-height: 24px;
}

/* Section Home */

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sound-toggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 24px;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2; /* au-dessus de la vidéo */
}



/* Graisse & Couleurs  */

.thin {
    font-weight: 200;
}

.bold {
    font-weight: bold;
}

.bg-dark {
    background-color: #181818;
}

.bg-light {
    background-color: #f5f5f5;
}

.red {
    color: #9e0627;
}

.white {
    color: #ffffff;
}

/* Alignements */

.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center {
    text-align: center;
}

.mx-2 {
    margin: 20px 0;
}

.mb-2 {
    margin-top: 0;
    margin-bottom: 10px;

}

.mb-3 {
    margin-bottom: 30px;
}

.mt-1 {
    margin-top: 10px;
}

/* Menu principal */

nav {
    background-color: rgba(0, 0, 0, 0.6); /* transparent initialement */
    transition: background-color 0.4s ease;
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.4s ease;
    color: #ffffff;
    z-index: 100;
}

.logo a {
    font-family: "Aleo", serif;
    font-size: 1.3rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.navbar ul li {
    display: inline;
}

.nav-link {
    font-family: "Aleo", serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-link.active {
    color: #ffffff;
    font-weight: bold;
}

.social {
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-burger {
    display: none;
}

/* Container et cards */

.container {
    width: 100%;
}

.navbar-placeholder {
    height: 120px;
    /* Hauteur de la barre de navigation */
    margin-top: -120px;
    /* Compensation pour l'espace vide */
}

/* Ajoutez scroll-margin-top pour chaque section pour éviter que le contenu ne soit masqué sous la barre de navigation */
.home,
.container {
    scroll-margin-top: 20px;
}

/* Titres */

.subtitle {
    text-align: center;
    width: 90%;
    font-weight: 400;
    font-size: 1.4rem;
}

/* Accueil du site */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #181818 !important;
    align-items: center;
    border: none;
}

.home img {
    width: 500px;
}

.btn-discover {
    position: absolute;
    bottom: 100px; /* ajuste selon le logo dans la vidéo */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6); /* noir avec 70% d’opacité */
    border: 1px solid #666666;
    color: white;
    padding: 30px 32px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 3;
    text-decoration: none;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Empêche le texte de se diviser sur plusieurs lignes */  
}

.btn-discover:hover {
    background-color: #c00c2f;
}

.btn-black {
    background-color: #181818;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.title-story {
    padding-top: 5px;
    font-size: 28px;
}

.story {
    display: flex;
}

.leftside {
    margin-top: 20px;
    padding: 30px;
    width: 50%;
}

.rightside {
    padding-left: 300px;
    width: 50%;
    height: auto;
    background: url(/assets/img/histoire-la-belfortaine.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.news-container {
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.news-content {
    width: 600px;
    text-align: left;
}

.news-content a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    background-color: #181818;
    font-size: 1.2rem;
    max-width: 220px;
    text-align: center;
    margin-bottom: 30px;
}

.card-title {
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.date {
    margin-top: 30px;
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 20px;
}

.card-text {
    font-size: 1.2rem;
    padding-bottom: 20px;
}

.card-text a {
    text-align: center;
    display: block;
    width: 130px;
    margin-top: 25px;
}

.cards-container {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    /* Ajout de flex-wrap pour passer à la ligne suivante */
    justify-content: center;
    /* Centrage horizontal des éléments */
}

.card {
    position: relative;
    width: 280px;
    margin: 20px;
    /* Marge entre les cartes */
    box-sizing: border-box;
    /* Inclure les marges dans le calcul de la largeur */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card .img-fluid {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.card-name {
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    bottom: 0;
    padding: 10px;
}

.labels {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    padding-bottom: 40px;
}

.home-page .news:nth-child(n+5) {
    display: none;
}

.btn-load-more {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

/* Styles pour la galerie */
.gallery {
    width: 100%;
    max-width: 900px;
    /* Largeur maximum pour la galerie sur les écrans plus grands */
    margin: 0 auto;
    /* Centrage horizontal */
    position: relative;
    /* Positionnement relatif pour les flèches */
    overflow: hidden;
    /* Masquer les images débordantes */
}

.gallery-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gallery-slides {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* S'étendre sur toute la largeur du conteneur */
    height: 400px;
    /* Fixer une hauteur constante pour le conteneur */
    transition: transform 0.5s ease-in-out;
    /* Transition pour le défilement */
    overflow: hidden;
    /* Assurer qu'il n'y a pas de débordement visible */
    position: relative;
    margin: 0 70px;
    /* Espace entre les flèches et les images */
}

.gallery-pictures {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Remplir le conteneur tout en conservant le ratio d'aspect */
    display: none;
    /* Masquer toutes les images sauf celle visible */
    position: absolute;
    /* Assurer que les images se chevauchent correctement */
}

.arrow {
    position: absolute;
    top: 50%;
    /* Centre verticalement */
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: black;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    /* Placer les flèches au-dessus des images */
    transition: background-color 0.3s ease;
    /* Ajout d'une transition pour le survol */
    margin: 0 10px;
    /* Espacement autour des flèches */
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.9);
    /* Changement de couleur au survol */
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}


/* Section traiteur */

.traiteur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6) 100%), url('/assets/img/banner.jpg') top/cover no-repeat fixed;
}

.traiteur h1 {
    padding: 0;
    font-size: 22px;
    font-weight: normal;
    line-height: 65px;
}

.traiteur h6 {
    width: 80%;
    font-size: 16px;
    font-weight: 400;
}

/* Avis des clients */

.container-reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.card-review {
    display: inline-block;
    /* Permet à chaque carte de s'adapter à son contenu */
    margin-top: 15px;
    padding: 25px;
    background-color: #fff;
    min-width: 130px;
    max-width: 330px;
    border: 1px solid #cfcfcf;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    vertical-align: top;
    /* Aligne les cartes en haut */
}

.card-header {
    display: flex;
    gap: 20px;
}

.card-description {
    display: flex;
    flex-direction: column;
}

.name-user {
    padding-left: 2px;
}

.name-user a,
.name-user a:active {
    color: #181818;
    text-decoration: none;
}

.name-user a:hover {
    text-decoration: underline;
}

.stars {
    margin-top: 4px;
    width: 120px;
    height: 20px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%23fbbc04' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
}

.avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 300ms ease;
}

.avatar span {
    padding-top: 5px;
    font-size: 10px;
}

.review {
    font-size: 16px;
    padding-top: 20px;
    height: auto;
}

.view-reviews {
    width: 100%;
}

.view-reviews a {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviews-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer {
    width: 100%;
    background-color: #000000;
    padding: 40px 0;
    font-size: 12px;
    font-weight: normal;
}

.logos {
    margin-top: 60px;
    margin-bottom: 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container-contact {
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.leftside-contact {
    padding-right: 50px;
}

.leftside-contact img {
    width: 250px;
}

.rightside-contact {
    padding-left: 50px;
}

.rightside-contact h5,
.middle-contact h5 {
    font-weight: bold;
    padding-top: 7px;
    text-align: left;
    margin-bottom: 6px;
}

.rightside-contact ul,
.middle-contact ul {
    padding-left: 0;
}

.rightside-contact ul li,
.middle-contact ul li {
    font-weight: 400;
    list-style: none;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: left;
}

.rightside-contact a,
.middle-contact a {
    color: #fff;
    text-transform: none;
    text-decoration: none;
}

.rightside-contact a:hover {
    text-decoration: underline;
}

.login-container {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4) 100%), url('/assets/img/gallery/vitrine-la-belfortaine-5.jpeg') top/cover no-repeat fixed;
}

.login-form {
    background: #ffffff;
    padding: 50px 30px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 30px;
    color: #343a40;
    text-align: center;
    font-size: 2rem;
}

.login-form a {
    padding-top: 50px;
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

.login-form .form-group {
    margin-bottom: 40px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #495057;
    font-weight: 600;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 46px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 80%;
    padding: 10px 15px;
    border: 1px solid #555656;
    border-radius: 4px;
    font-size: 1.3rem;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    outline: none;
    border-color: #9e0627;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.login-form button {
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    background-color: #1d1d1d;
    color: #ffffff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.25s ease;
    margin: 0 auto; /* Cela va centrer le bouton horizontalement */
    margin-bottom: 40px;
}

.login-form button:hover {
    background-color: #9e0627;
}

.login-form .footer {
    margin-top: 55px;
    text-align: center;
}

.login-form .footer a {
    color: #007bff;
    text-decoration: none;
}

.login-form .footer a:hover {
    text-decoration: underline;
}

.social-footer {
    margin-top: 10px;
    text-align: left;
}

.social-footer a {
    font-size: 25px;
}

/* Couleurs spécifiques pour chaque icône au survol */
.link-social a[href*="facebook"]:hover {
    color: #3b5998;
    /* Couleur de Facebook */
}

.link-social a[href*="instagram"]:hover {
    color: #e4405f;
    /* Couleur d'Instagram */
}

.link-social a[href*="snapchat"]:hover {
    color: #fffc00;
    /* Couleur de Snapchat */
}

/* Styles du dashboard */

.container-dashboard {
    font-family: "Poppins", sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f1f1f1;
}

.sidebar {
    position: relative;
    width: 300px;
    background-color: #181818;
    color: #ffffff;
    overflow-y: auto;
    height: 100%;
    flex-shrink: 0;
}

.sidebar .logo {
    font-family: "Aleo", sans-serif;
    font-size: 1.6rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 0px;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}


.sidebar .logo:hover {
    background-color: #181818;
}

.sidebar ul {
    width: 100%;
    list-style: none;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
}

.sidebar a:hover {
    background-color: #9e0627;
}

.sidebar-links a.active {
    width: 100%;
    background-color: #9e0627;
    font-weight: bold;
}

.sidebar ul,
.sidebar-links ul {
    margin-left: 0;
    padding-left: 0;
}

/* Lien Conditions générales */
.sidebar-links li.bottom-link {
    position: absolute;  
    bottom: 20px;  
    width: 100%; 
    text-align: center; 
}

/* Centrer le texte dans le lien */
.sidebar-links li.bottom-link a {
    display: inline-block;
    width: 100%;
}

/* Right Side */

.right-side {
    flex: 1;
    height: 100vh;
    padding-left: 50px;
    overflow-y: auto;
    height: 100%;
    font-size: 1.3rem;
}

.right-side h1 {
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 2.4rem;
}

.right-side h2 {
    font-weight: 400;
    padding-top: 10px;
    font-size: 2rem;
}

.right-side h3 {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.5rem;
}

.right-side h5 {
    font-weight: 600;
    padding-top: 20px;
    font-size: 1.2rem;
}

.right-side ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-side ul li {
    font-size: 1.2rem;
    border-bottom: 1px solid #ddd;
    padding-top: 2px;
    padding-bottom: 2px;
}

.right-side .form-post {
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-side .title-news {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    font-size: 1rem;
}

.right-side .row-form label {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.right-side textarea {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
}

.right-side button {
    background-color: #000000;
    color: #ffffff;
    padding: 15px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.right-side select {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
}

.right-side button:hover {
    background-color: #9e0627;
    color: #ffffff;
    cursor: pointer;
}

.right-side hr {
    border: 2px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-side .row-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 30px;
}

.right-side .form-content {
    width: 700px;
    height: 300px;
}

.right-side .title-img {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
}

.right-side input {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
}


.news {
    position: relative;
    max-width: 1300px;
    height: auto;
    display: flex;
    align-items: stretch;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-top: 2px solid #ababab;
    background-color: #ffffff;
    border-radius: 8px;
    gap: 20px;
}

.news:first-of-type {
    border-top: none !important;
}

.news-image-container {
    width: 400px; /* Fixe la largeur de l'image */
    height: 300px; /* Fixe la hauteur de l'image */
    overflow: hidden; /* Masque la partie qui dépasse si l'image est plus grande */
    display: flex;
    justify-content: center; /* Centre l'image dans le conteneur */
    align-items: center; /* Centre l'image verticalement */
    background-color: #f0f0f0; /* Optionnel : ajouter un fond gris clair */
    border-radius: 8px; /* Arrondi des coins */
}

.news-image-container img {
    width: 100%; /* L'image occupe toute la largeur du conteneur */
    height: 100%; /* L'image occupe toute la hauteur du conteneur */
    object-fit: cover; /* L'image s'ajuste pour couvrir tout le conteneur sans déformer son ratio */
    object-position: center; /* L'image est centrée dans son conteneur */
}

audio {
    width: 50%;
    margin-top: 20px;
}

.right-side .news-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-side .timestamp {
    padding-top: 0;
    padding-bottom: 15px;
    margin-top: 0;
    font-size: 0.9rem;
    font-style: italic;
}

.right-side .news-title {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 600;
}

.right-side .news-description {
    flex-grow: 1;
    font-size: 1rem;
    padding-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-description a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    background-color: red;
}

.right-side .news-actions {
    margin-right: 30px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.right-side .group-infos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.right-side .card-infos {
    width: 95%;
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #bdbcbc;
    border-radius: 20px;
}

.right-side .alert-date {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.right-side .alert-content {
    font-family: "Poppins", sans-serif;
    padding-top: 30px;
}

.right-side .alert-content input[textarea] {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    font-size: 2rem;
}

.right-side input[type="date"] {
    /* Apparence générale */
    background-color: #fff;
    /* Couleur de fond */
    border: 1px solid #4a4949;
    /* Bordure fine et grise */
    border-radius: 4px;
    /* Coins arrondis */
    padding: 10px;
    /* Espacement interne */
    font-size: 16px;
    /* Taille de police */
    color: #333;
    /* Couleur du texte */

    /* Retirer le style natif (selon le navigateur) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Largeur si nécessaire (vous pouvez l’ajuster) */
    width: 160px;
}

.right-side .list-period {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0.5rem 0;
    gap: 30px;
}

.right-side .period-container {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 1rem;
}

.right-side .period-title {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 20px;
    align-items: center;
    gap: 20px;
}

.right-side .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Maintenir la mise en page responsive */
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.right-side .gallery-card {
    background-color: #fff;
    border: 1px solid #a5a5a5;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    overflow: hidden;
    width: 100%;
    max-width: 350px; /* Fixe la largeur maximale des cartes */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;;
}

/* Conteneur de l'image */
.image-container {
    width: 400px; /* Largeur fixe de l'image */
    height: 300px; /* Hauteur fixe de l'image */
    overflow: hidden;
}

/* L'image elle-même */
.image-container img {
    width: 100%; /* Occupe toute la largeur de son conteneur */
    height: 100%; /* Occupe toute la hauteur de son conteneur */
    object-fit: cover; /* Remplir le conteneur tout en conservant les proportions */
}

.btn-add {
    margin-top: 30px;
}

/* Bouton de suppression */
.delete-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-delete {
    display: flex;
    gap: 10px;
    padding: 12px 25px; /* Augmente la taille du bouton */
    background-color: #9e0627;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #d11435;
}

.alert {
    position: relative;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
  }
  
.alert-success {
    background-color: #c5fad1;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    font-size: 100px;
    cursor: pointer;
    user-select: none;
    z-index: 100; 
    color: #000; 
}



/* Footer du dashboard */

.right-side .footer {
    width: 100%;
    background-color: #000000;
    padding: 20px;
    font-size: 12px;
    font-weight: normal;
}

/* Terms */

.terms {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.terms h2,
.terms h3 {
    color: #222;
    font-weight: bold;
}

.terms article {
    max-width: 80%;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

.terms article:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.terms p {
    font-size: 1.5rem;
}

.terms ul {
    margin-left: 20px;
    padding-left: 0;
    list-style: disc;
}

.terms li {
    margin-bottom: 10px;
}

.terms-link:hover {
    background: none !important;
    /* ou transparent */
}

/* Modal des mentions légales */
.legal-modal {
    position: fixed;
    z-index: 9999; /* Placer le modal au-dessus de tout */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    display: none; /* Cacher le modal par défaut */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.legal-content {
    background: rgb(36, 36, 36);
    color: #fff;
    padding: 30px;
    max-width: 50vw;
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
    border-radius: 10px;
    font-family: 'Aleo', sans-serif;
    line-height: 1.5;
}

.legal-content p {
    margin-bottom: 12px; /* Espacement entre les paragraphes */
}

.legal-content h2 {
    font-size: 24px;
    margin-bottom: 30px; /* Espacement sous le titre */
}

.legal-content ul {
    padding-left: 0;
}

.legal-content ul li {
    list-style: none;
}

.legal-content a {
    color: #fff;
    text-decoration: underline;
}

.close-legal {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.btn-close-site {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background: #9e0627;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


/* Footer */

.footer a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.footer a:hover a:active a:visited {
    color: #ffffff;
    text-decoration: underline;
}

/* On screens that are 1000px or less, set the background color to olive */
@media screen and (max-width: 1000px) {

    .social {
        display: none;
    }

    .navbar ul {
        gap: 10px;
    }

    .news-content {
        width: 400px;
    }

    .navbar ul li a {
        display: inline-block;
        font-size: 14px;
    }

    .news-container {
        width: 100%;
        margin: 0;
        align-items: center;
        flex-direction: column;
    }

    .news-preview,
    .news-preview2 .news-preview3 {
        display: block;
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 810px) {

    nav {
        padding: 20px 20px;
    }

    .information {
        font-size: 16px;
    }

    .scrolled a {
        color: #ffffff;
    }

    h1 {
        font-size: 24px;
    }

    .subtitle {
        width: 90%;
        line-height: 2rem;
    }

    .nav-burger {
        display: block;
    }

    .nav-burger a {
        font-size: 25px;
    }

    .navbar {
        display: none;
    }

    .show-navbar {
        font-family: "Aleo", sans-serif;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        left: 0;
        padding-left: 20px;
        margin-top: 300px;
        width: 100%;
        display: block;
        animation: all;
        transition: transform 0.3s ease-in-out;
    }

    .show-navbar ul li a {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 18px;
    }

    .show-navbar a:hover {
        font-weight: bold;
        color: white;
    }

    .show-navbar ul {
        margin-left: 0;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    .social {
        display: none;
    }

    .home img {
        width: 430px;
        max-width: 90%;
    }

    .horaires {
        margin: 30px 0;
    }

    .story {
        flex-direction: column;
    }

    .news {
        width: 90%;
        margin: 20px 0;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0;
    }

    .news-container {
        width: 100%;
        margin: 0;
        align-items: center;
        flex-direction: column;
    }

    .btn-center {
        margin: 0 auto
    }


    .news-content {
        width: 100%;
    }

    .card {
        position: relative;
        width: 170px;
        margin: 5px;
        /* Marge entre les cartes */
        box-sizing: border-box;
        /* Inclure les marges dans le calcul de la largeur */
    }

    .card-name {
        font-size: 12px;
    }

    .labels {
        display: flex;
        align-items: left;
        justify-content: center;
        gap: 13px;
        padding-bottom: 40px;
    }

    .labels img {
        width: 65px;
    }

    .logos {
        width: 95%;
        margin: 50px 0;
        gap: 15px;
    }

    .container-contact {
        margin: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .leftside-contact {
        order: 2;
        border: none;
        padding-right: 0;
    }

    .rightside-contact,
    .middle-contact {
        width: 100%;
        padding-left: 0;
        text-align: center;
        justify-content: center;
        order: 1;
    }

    .rightside-contact h5,
    .middle-contact h5 {
        text-align: center;
    }

    .rightside-contact ul li,
    .middle-contact ul li {
        text-align: center;
    }

    .leftside {
        padding-top: 50px;
        padding-left: 20px;
        width: 100%;
    }

    .card-title {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .social-footer {
        margin-top: 10px;
        text-align: center;
    }

    .social-footer a {
        font-size: 25px;
    }

    .gallery {
        width: 100%;
        max-width: 100%;
        position: relative;
        overflow: hidden;
        padding: 0;
    }

    .gallery-container {
        position: relative;
    }

    .gallery-slides {
        display: flex;
        width: 100%;
        height: 250px;
        overflow: hidden;
        transition: transform 0.5s ease-in-out;
        margin: 0;
    }

    .gallery-pictures {
        flex-shrink: 0;
        width: 100vw;
        height: 100%;
        object-fit: contain;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        color: black;
        font-size: 1.5rem;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
        transition: background-color 0.3s ease;
    }

    .arrow:hover {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .left-arrow {
        left: 0;
    }

    .right-arrow {
        right: 0;
    }
}

@media screen and (max-width: 600px) {

/* Alertes version mobile */

.alert {
    font-size: 1rem;
  }

    h1, .title-story {
        font-size: 1.8rem;
        text-align: center;
    }

    .home-page {
        width: 100%;
    }

    .container,
    .news,
    .gallery,
    .image-container,
    .gallery-slides {
  max-width: 100%;
  overflow-x: hidden;
}

.news {
    width: 100%;
    margin: 0;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid #ababab;
}

.news-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 1.7rem;
}

.card-text {
    width: 98%;
    font-size: 1.4rem;
    padding-bottom: 5px;
}

.date {
    font-size: 1.2rem;
    padding: 5px 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

audio {
    width: 100%;
    margin-top: 20px;

}

.legal-content {
    max-width: 100%;
}


/* Page de connexion version mobile */

.login-container {
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    border: 0;
}

.login-form label {
    padding-left: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 90%;
    padding: 10px 15px;
    border: 1px solid #555656;
    border-radius: 4px;
    font-size: 1.3rem;
}

}