{{ define "footer" }}
<!-- <footer class="footer bg-dark center white">
Site créé par <a
    href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#120;&#97;&#118;&#105;&#101;&#114;&#99;&#111;&#108;&#111;&#109;&#98;&#101;&#108;&#57;&#48;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;?subject=La%20Belfortaine%20-%20Contacter%20le%20webmaster">Xavier
    Colombel</a>
 <p>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=www.labelfortaine.fr&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=fr" target="_blank">
        <img style="margin-top:10px;border:0;width:58px;height:21px"
            src="img/w3c_html5_certified.png"
            alt="CSS Valide !">
        </a>
    <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fwww.labelfortaine.fr%2F" target="_blank">
        <img style="margin-top:10px;border:0;width:48px;height:21px"
            src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
            alt="CSS Valide !">
        </a>
    </p>
</footer> -->
{{ end }}