{{ define "header" }}
<header>
    <nav>
        <div class="logo">
            <a href="{{ hostTraefik }}">La Belfortaine</a>
        </div>

        <div class="navbar" id="navbar">
            <ul>
                <li><a href="#notre-histoire" class="nav-link">Notre histoire</a></li>
                <li><a href="#actualites" class="nav-link">Actualités</a></li>
                <li><a href="#boucherie-charcuterie" class="nav-link">Boucherie & Charcuterie</a></li>
                <li><a href="#remerciements" class="nav-link">Remerciements</a></li>
                <li><a href="#nous-contacter" class="nav-link">Contactez-nous</a></li>
            </ul>
        </div>

        <div class="nav-burger">
            <a href="#" id="burger-icon"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></a>
        </div>

        <div class="social">
            <a href="https://www.facebook.com/profile.php?id=61557030044286" class="social navbar-brand fs-6"
                target="_blank"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
            <a href="https://www.instagram.com/labelfortaineboucherie" class="social navbar-brand fs-6"
                target="_blank"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
            <a href="https://www.snapchat.com/add/boucherielabelf?share_id=qgR0EG6ZhAA&locale=fr-FR"
                class="social navbar-brand fs-6"><i class="fa-brands fa-snapchat" style="color: #ffffff;"></i></a>
        </div>
    </nav>
</header>
{{ end }}