{{ define "sidebar" }}
<div class="sidebar">
    <a href="https://hestia.local/dashboard" class="logo">
        <span>La Belfortaine</span></a>
    <ul class="sidebar-links">
        <li><a href="https://hestia.local/dashboard">Tableau de bord</a></li>
        <li><a href="https://hestia.local/dashboard/news">Gestion des actualités</a></li>
        <li><a href="https://hestia.local/dashboard/gallery">Gestion de la galerie</a></li>
        <li><a href="https://hestia.local/" target="_blank">Aperçu du site</a></li>
        <li><a href="https://hestia.local/dashboard/terms">Conditions générales</a></li>
        <li><a href="#">Se déconnecter</a></li>
    </ul>
</div>
{{ end }}