{{ define "sidebar" }}
<div class="sidebar">

    <div class="sidebar-header">
        <a href="{{ hostTraefik }}/dashboard" class="logo">
            <span>La Belfortaine</span>
        </a>
        <div class="dashboard-nav-close">
            <a href="#" id="dashboard-nav-close"><i class="fa-solid fa-times" style="color: #ffffff;"></i></a>
        </div>
    </div>

    <ul class="sidebar-links">
        <li>
            <a href="/dashboard" class="{{- if eq .Content "dashboard" -}}active{{- end -}}">
                Tableau de bord
            </a>
        </li>
        <li>
            <a href="/dashboard/news" class="{{- if eq .Content "news" -}}active{{- end -}}">
                Gestion des actualités
            </a>
        </li>
        <li>
            <a href="/dashboard/gallery" class="{{- if eq .Content "gallery" -}}active{{- end -}}">
                Gestion de la galerie
            </a>
        </li>
        <li>
            <a href="/dashboard/closure-period" class="{{- if eq .Content "closure" -}}active{{- end -}}">
                Gestion des alertes
            </a>
        </li>
        <li>
            <a href="{{ hostTraefik }}/" target="_blank">
                Aperçu du site
            </a>
        </li>
        <li>
            <a href="/logout">
                Se déconnecter
            </a>
        </li>
        <!-- Lien Conditions générales placé en bas -->
        <li class="bottom-link">
            <a href="/dashboard/terms" class="{{- if eq .Content "terms" -}}active{{- end -}}">
                Conditions générales
            </a>
        </li>
    </ul>
</div>
{{ end }}
