{{ define "private/closure" }}
{{ template "layoutPrivate" . }}
{{ end }}

{{ define "closure" }}

<h1>Gestion des alertes</h1>

<h3>Ajouter une nouvelle alerte</h3>

<form method="POST" action="/dashboard/closure-period" enctype="multipart/form-data">

    <div class="alert-content">
        <label for="title">Description courte : </label>
        <input type="textarea" name="title" value="" placeholder="Exemple : Vacances de Noël" class="title-input"
            required>
    </div>

    <div class="alert-date">
        <div>
            <label for="startDate">Date de debut :</label>
            <input type="date" id="startDate" name="startDate" required>
        </div>

        <div>
            <label for="endDate">Date de fin :</label>
            <input type="date" id="endDate" name="endDate" required>
        </div>
        <button type="submit"><i class="fa-solid fa-plus"></i> Ajouter l'alerte</button>
    </div>
</form>

<hr>

<h3>Liste de periodes de fermetures exceptionnelles</h3>

{{ if .ListPeriod }}
{{ range .ListPeriod }}
<div class="list-period">
    <div>
        <div class="period-title">
            <h4>{{ .Title }}</h4>
        </div>
        <div class="period-container">
            <div>Du {{ formatDate .StartDate "02/01/2006"}}&nbsp;</div>
            <div>au {{ formatDate .EndDate "02/01/2006"}}</div>
        </div>
    </div>
    <form method="POST" action="/dashboard/closure-period/delete/{{ .UUID}}">
        <button type="submit"><i class="fa-solid fa-trash"></i> Supprimer</button>
    </form>
</div>

{{ end }}
{{ else }}
<p>Aucune periode</p>
{{ end }}

{{ end }}