{{ define "private/closure" }}
{{ template "layoutPrivate" . }}
{{ end }}

{{ define "closure" }}

<h1>Gestion fermeture de l'établissement</h1>

<h3>Ajouter une period</h3>

<form method="POST" action="/dashboard/closure-period" enctype="multipart/form-data">
    <label for="title">Titre :</label>
    <input type="text" name="title" value="" class="title-img" required>

    <div>
        <label for="startDate">Sélectionner une date de debut :</label>
        <input type="date" id="startDate" name="startDate"required>
    </div>

    <div>
        <label for="endDate">Sélectionner une date de debut :</label>
        <input type="date" id="endDate" name="endDate"required>
    </div>

    <button type="submit">Ajouter une period</button>
</form>

<hr>

<h3>Votre liste de periodes de fermeture</h3>

{{ if .ListPeriod }}
    {{ range .ListPeriod }}
        <div class="news-image-container">
            <h4>{{ .Title }}</h4>
            <p>Début de fermeture {{ formatDate .StartDate "02/01/2006"}}</p>
            <p>Fin de fermeture {{ formatDate .EndDate "02/01/2006"}}</p>
            <form method="POST" action="/dashboard/closure-period/delete/{{ .UUID}}">
                <button type="submit">Supprimer</button>
            </form>
        </div>
    {{ end }}
{{ else }}
    <p>Aucune periode</p>
{{ end }}

{{ end }}