{{ define "private/dashboard" }}
{{ template "layoutPrivate" . }}
{{ end }}

{{ define "dashboard" }}


<h1>Tableau de bord</h1>

<div class="group-infos">
    <div>
        <h3>Vos informations</h3>
        <ul>
            <li>Votre nom : {{ .UserCurrent.UserName }}</li>
            <li>Votre adresse mail : {{ .UserCurrent.Email }}</li>
        </ul>
    </div>

    <div>
        <h3>Vos réseaux sociaux</h3>
<ul class="social">
  <li>
    <a href="https://www.facebook.com/profile.php?id=61557030044286"
       class="navbar-brand fs-6" target="_blank" aria-label="Facebook">
      <i class="fa-brands fa-facebook"></i>
    </a>
  </li>

  <li>
    <a href="https://www.instagram.com/labelfortaineboucherie"
       class="navbar-brand fs-6" target="_blank" aria-label="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </li>

  <li>
    <a href="https://www.tiktok.com/@aure698?_t=ZN-8vUq1RT3aOU&_r=1"
       class="navbar-brand fs-6" target="_blank" aria-label="TikTok">
      <i class="fa-brands fa-tiktok"></i>
    </a>
  </li>

  <li>
    <a href="https://www.snapchat.com/add/boucherielabelf?share_id=qgR0EG6ZhAA&locale=fr-FR"
       class="navbar-brand fs-6" target="_blank" aria-label="Snapchat">
      <i class="fa-brands fa-snapchat"></i>
    </a>
  </li>
</ul>
    </div>
</div>
{{ end }}