{{ define "private/gallery" }}
{{ template "layoutPrivate" . }}
{{ end }}

{{ define "gallery" }}

<h1>Gestion de la galerie</h1>

<!-- <div class="alert alert-success">
    <span>Photo correctement ajoutée dans la galerie.</span>
</div> -->

<h3>Ajouter une photo</h3>

<form method="POST" action="/dashboard/gallery" enctype="multipart/form-data">
    <label for="title">Titre de l'image :</label>
    <input type="text" name="title" value="" class="title-img" required>

    <div>
        <label for="image">Sélectionner une photo :</label>
        <input type="file" id="image" name="image" accept="image/*" required>
    </div>

    <button type="submit">Ajouter dans la galerie</button>
</form>

<hr>

<h3>Votre galerie photo</h3>

{{ if .GalleryFirst }}
<div class="gallery-grid">
    {{ range .GalleryFirst.Medias }}
    <div class="news-image-container">
        <div style="display: flex; gap: 17px;">
            <h4>{{ .MediaURI.MediaType }}</h4>
            <form method="POST" action="/dashboard/gallery/delete/{{ .MediaURI.UUID }}">
                <button type="submit">Supprimer</button>
            </form>
        </div>
        <div>
            <img src="{{ .MediaURI.Path }}" alt="{{ .MediaURI.MediaType }}">
        </div>
    </div>
    {{ end }}
</div>
{{ else }}
<p>Aucune gallery</p>
{{ end }}

{{ end }}