{{ define "private/news" }}
{{ template "layoutPrivate" . }}
{{ end }}

{{ define "news" }}

<h1>Gestion des actualités</h1>

<div class="alert alert-success">
    <span>Actualité ajoutée avec succès !</span>
</div>

<div class="alert alert-warning">
    <span>Le champs "Titre" n'est pas renseigné.</span>
</div>

<div class="alert alert-error">
    <span>L'actualité n'a pu être ajoutée.</span>
</div>

<h3>{{ if .News }}Modifier l'actualité{{ else }}Créer une actualité{{ end }}</h3>

<form method="POST" action="{{ if .News }}/dashboard/news/update/{{ .News.UUID }}{{ else }}/dashboard/news{{ end }}"
    enctype="multipart/form-data">

    <div class="row-form">
        <label for="title">Titre :</label>
        <input type="text" name="title" value="{{ if .News }}{{ .News.Title }}{{ end }}" required>
    </div>

    <label for="content">Contenu :</label>
    <br>
    <textarea name="content" required>{{ if .News }}{{ .News.Content }}{{ end }}</textarea>

    <br>

    {{ if .News }}
    <p>Image actuelle</p>
    <img src="{{ .News.MediaImage.Path }}" alt="Illustration" style="max-width:200px;">
    {{ end }}

    <label for="image">{{ if .News }}Modifier l'image{{ else }}Image d'illustration{{ end }} :</label>
    <input type="file" id="image" name="image" accept="image/*">

    <br>

    <div>
        {{ if .News }}
        {{ if .News.MediaLink }}
        <br>
        <p>Lien actuel :</p>
        {{ if eq .News.MediaLink.MediaType "link" }}
        <a href="{{ .News.MediaLink.Path }}" target="_blank">Voir le lien actuel</a>
        {{ else if eq .News.MediaLink.MediaType "audio" }}
        <audio controls>
            <source src="{{ .News.MediaLink.Path }}" type="audio/mpeg">
            Votre navigateur ne supporte pas l'audio.
        </audio>
        {{ else if eq .News.MediaLink.MediaType "pdf" }}
        <a href="{{ .News.MediaLink.Path }}" target="_blank">Voir le PDF actuel</a>
        {{ else }}
        <a href="{{ .News.MediaLink.Path }}" target="_blank">Voir le fichier actuel</a>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>

    <br>

    <label for="linkType">{{ if .News }}Modifier le lien{{ else }}Type de lien{{ end }} :</label>
    <select id="linkTypeNews" name="linkType" onchange="handleLinkTypeChange()">
        <option value="">Aucun lien</option>
        <option value="file">Fichier</option>
        <option value="url">Lien externe</option>
    </select>

    {{ if .News}}
    <a href="/dashboard/news">Annuler</a>
    {{ end }}

    <div id="linkInputContainerNews" style="margin-top: 10px;"></div>

    <button type="submit">{{ if .News }}Modifier{{ else }}Créer{{ end }}</button>

</form>

<hr>

<h3>Liste des actualités</h3>
{{ range .ListNews }}
<div class="news">

    <form action="/dashboard/news/delete/{{ .UUID }}" method="POST">
        <button type="submit">Supprimer</button>
    </form>
    <form action="/dashboard/news/{{ .UUID }}" method="GET">
        <button type="submit">Modifier</button>
    </form>

    <img src="{{ .MediaImage.Path }}" alt="Illustration" style="max-width:200px;">
    <div class="news-content">
        <span class="date">Date publication - {{ formatDate .PublishedAt "02/01/2006 15:03"}}</span>
        <span class="date">Date de Modification - {{ formatDate .UpdatedAt "02/01/2006 15:03"}}</span>
        <h5 class="card-title">{{ .Title }}</h5>
        <p class="card-text mx-2">
            {{ .Content }}
        </p>
        {{ if .MediaLink}}
        {{ if eq .MediaLink.MediaType "link" }}
        <a href="{{ .MediaLink.Path }}" target="_blank">Voir le lien</a>
        {{ end }}

        {{ if eq .MediaLink.MediaType "audio" }}
        <audio controls>
            <source src="{{ .MediaLink.Path }}" type="audio/mpeg">
            Votre navigateur ne supporte pas l'élément audio.
        </audio>
        {{ end }}

        {{ if eq .MediaLink.MediaType "pdf" }}
        <a href="{{ .MediaLink.Path }}" target="_blank">Version pdf</a>
        {{ end }}

        {{ if eq .MediaLink.MediaType "images" }}
        <a href="{{ .MediaLink.Path }}" target="_blank">Version numérique</a>
        {{ end }}
        {{ else }}
        <div>Aucun lien</div>
        {{ end }}
    </div>
</div>
{{ else }}
<div>Aucun Article</div>
{{ end }}
{{ end }}