{{ define "private/news" }}
{{ template "layoutPrivate" . }}
{{ end }}

{{ define "news" }}

<h1>Gestion des actualités</h1>

{{ if .Success }}
<div class="alert alert-success">
    {{ .Success }}
</div>
{{ end }}

{{ if .Error }}
<div class="alert alert-error">
    {{ .Error }}
</div>
{{ end }}

<div class="dashboard-block">
    <h3>{{ if .News }}Modifier l'actualité{{ else }}Créer une actualité{{ end }}</h3>

    <form method="POST" action="{{ if .News }}/dashboard/news/update/{{ .News.UUID }}{{ else }}/dashboard/news{{ end }}"
        enctype="multipart/form-data" class="form-post">

        <div class="row-form">
            <label for="title">Titre : </label>
            <input type="text" name="title" value="{{ if .News }}{{ .News.Title }}{{ end }}" class="title-news"
                required>
        </div>

        <label for="content">Contenu :</label>
        <br>
        <textarea name="content" class=" form-content" required>{{ if .News }}{{ .News.Content }}{{ end }}</textarea>

        <br>

        {{ if .News }}
        <p>Image actuelle</p>
        <img src="{{ .News.MediaImage.Path }}" alt="Illustration" style="max-width:400px;">
        {{ end }}

        <label for="image">{{ if .News }}Modifier l'image{{ else }}Image d'illustration{{ end }} :</label>
        <input type="file" id="image" class="btn-file" name="image" accept="image/*">

        <br>

        <div>
            {{ if .News }}
            {{ if .News.MediaLink }}
            <br>
            <p>Lien actuel :</p>
            {{ if eq .News.MediaLink.MediaType "link" }}
            <a href="{{ .News.MediaLink.Path }}" target="_blank">Voir le lien actuel</a>
            {{ else if eq .News.MediaLink.MediaType "audio" }}
            <audio controls>
                <source src="{{ .News.MediaLink.Path }}" type="audio/mpeg">
                Votre navigateur ne supporte pas l'audio.
            </audio>
            {{ else if eq .News.MediaLink.MediaType "pdf" }}
            <a href="{{ .News.MediaLink.Path }}" target="_blank">Voir le PDF actuel</a>
            {{ else }}
            <a href="{{ .News.MediaLink.Path }}" target="_blank">Voir le fichier actuel</a>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>

        <br>

        <label for="linkType">{{ if .News }}Modifier le lien{{ else }}Type de lien{{ end }} :</label>
        <select id="linkTypeNews" name="linkType" onchange="handleLinkTypeChange()">
            <option value="">Aucun lien</option>
            <option value="file">Fichier</option>
            <option value="url">Lien externe</option>
        </select>

        <!-- TODO : soucis de design, je pense que sa devrais etre un bouton à coté de l'autre je ne sais pas qi cela a été corrigé dans une autre branch -->
        {{ if .News}}
        <a href="/dashboard/news">Annuler</a>
        {{ end }}

        <div id="linkInputContainerNews" style="margin-top: 10px;"></div>

        <button type="submit">{{ if .News }}Modifier{{ else }}<i class="fa-solid fa-plus"></i> Ajouter l'actualité{{ end
            }}</button>

    </form>
</div>

<hr>

<h3>Liste des actualités</h3>
{{ range .ListNews }}
<div class="news">
    <div class="news-image-container">
        <img src="{{ .MediaImage.Path }}" alt="Illustration">
    </div>

    <div class="news-content">
        <h3 class="news-title">{{ .Title }}</h3>

        <div class="timestamp">
            <span>Publié le {{ formatDate .PublishedAt "02/01/2006 15:03"}}</span> -
            <span>Mise à jour le {{ formatDate .UpdatedAt "02/01/2006 15:03"}}</span>
        </div>

        <p class="news-description">
            {{ .Content }}
        </p>
        {{ if .MediaLink}}
        {{ if eq .MediaLink.MediaType "link" }}
        <a href="{{ .MediaLink.Path }}" target="_blank">Voir le lien</a>
        {{ end }}

        {{ if eq .MediaLink.MediaType "audio" }}
        <audio controls>
            <source src="{{ .MediaLink.Path }}" type="audio/mpeg">
            Votre navigateur ne supporte pas l'élément audio.
        </audio>
        <br>
        {{ end }}

        {{ if eq .MediaLink.MediaType "pdf" }}
        <a href="{{ .MediaLink.Path }}" target="_blank">Version pdf</a>
        {{ end }}

        {{ if eq .MediaLink.MediaType "images" }}
        <a href="{{ .MediaLink.Path }}" target="_blank">Version numérique</a>
        {{ end }}
        {{ else }}
        <div></div>
        {{ end }}

        <div>

            <div class="news-actions">
                <form action="/dashboard/news/{{ .UUID }}" method="GET">
                    <button type="submit" class="edit-news">
                        <i class="fa-solid fa-pen"></i> Modifier
                    </button>
                </form>
                <form action="/dashboard/news/delete/{{ .UUID }}" method="POST">
                    <button type="submit" class="delete-news">
                        <i class="fa-solid fa-trash"></i> Supprimer
                    </button>
                </form>
            </div>

        </div>

    </div>

</div>
{{ else }}
<div>Aucun Article</div>
{{ end }}
{{ end }}