{{ define "public/home" }}
{{ template "layoutPublic" . }}
{{ end }}

{{ define "home" }}
<header>
    <nav>
        <div class="logo">
            <a href="{{ hostTraefik }}">La Belfortaine</a>
        </div>

        <div class="navbar" id="navbar">
            <ul>
                <li><a href="#notre-histoire" class="nav-link">Notre histoire</a></li>
                <li><a href="#home-actualites" class="nav-link">Actualités</a></li>
                <li><a href="#boucherie-charcuterie" class="nav-link">Boucherie & Charcuterie</a></li>
                <li><a href="#remerciements" class="nav-link">Remerciements</a></li>
                <li><a href="#nous-contacter" class="nav-link">Contactez-nous</a></li>
            </ul>
        </div>

        <div class="nav-burger">
            <a href="#" id="burger-icon"><i class="fa-solid fa-bars" style="color: #ffffff;"></i></a>
        </div>

        <div class="social">
            <a href="https://www.facebook.com/profile.php?id=61557030044286" class="social navbar-brand fs-6"
                target="_blank"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                <a href="https://www.instagram.com/labelfortaineboucherie" class="social navbar-brand fs-6"
                target="_blank"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
                <a href="https://www.tiktok.com/@aure698?_t=ZN-8vUq1RT3aOU&_r=1" class="social navbar-brand fs-6"
                target="_blank"><i class="fa-brands fa-tiktok" style="color: #ffffff;"></i></a>
            <a href="https://www.snapchat.com/add/boucherielabelf?share_id=qgR0EG6ZhAA&locale=fr-FR"
                class="social navbar-brand fs-6"><i class="fa-brands fa-snapchat" style="color: #ffffff;"></i></a>
        </div>
    </nav>
</header>
<div class="container-home">
    <div class="home" id="accueil">
        <picture>
            <img src="../assets/img/logo_la_belfortaine.svg" class="logo-header"
                alt="Logo de la boucherie charcuterie La Belfortaine">
        </picture>
        <div class="horaires">
            <!--<div class="information">Fermeture exceptionnelle le 1er et 2 novembre 2024</div>-->
            {{ if .PeriodClosed }}
            <div class="information-fermeture">
                Fermeture exceptionnelle <br>
                <!-- {{ .PeriodClosed.Title }} -->
                du {{ formatDate .PeriodClosed.StartDate
                "02/01/2006" }} au {{ formatDate .PeriodClosed.EndDate "02/01/2006" }} inclus
            </div>
            {{ end }}
            <h2 class="mx-2">Nos horaires d'ouverture</h2>
            <ul>
                <li class="bold">Du mardi au vendredi</li>
                <li>De 8h00 à 12h15 / 15h00 à 19h00</li>
                <li class="mt-1 bold">Tous les samedis</li>
                <li>De 8h00 à 12h15</li>
            </ul>
        </div>
        <a href="#notre-histoire" class="btn-red">Découvrez la boucherie</a>
    </div>

    <div class="story bg-light" id="notre-histoire">
        <div class="leftside">
            <h1 class="title-story red">Notre histoire</h1>
            <p class="mx-2">
                Avec presque 20 ans de métier et une formation plus qu’aboutie je sais aujourd'hui pouvoir apporter :
            </p>
            <ul>
                <li>La Qualité</li>
                <li>La Satisfaction Client</li>
                <li>La Proximité</li>
            </ul>
            <p class="mx-2">
                J'ai énormément appris ces dernières années, la clientèle me connaît, j'ai à cœur d'apporter ce dont mes
                clients ont besoin. Aujourd'hui, je souhaite que Belfort retrouve ce lieu convivial et de bonne viande
                de charcuterie traditionnelle.
            </p>
            <p>
                Je propose de la viande de qualité, un service dédié et un investissement total pour celles et ceux qui
                souhaitent venir dans notre boutique.
            </p>
            <p>
                La viande provient de nos agriculteurs français et est certifiée dans le but de soutenir leurs
                activités.
            </p>
            <p class="mx-2">
                Nous avons eu beaucoup de soutien lors de la création de la société et je remercie tout le monde,
                désormais mon travail est de vous démontrer que vous avez eu raison.
            </p>
            <p>Merci à toutes et à tous, à bientôt à La Belfortaine !</p>
        </div>
        <div class="rightside">
        </div>
    </div>

    <div class="container flex-center center" id="home-actualites">
        <h1 class="red center mx-2">Actualités</h1>
        <h3 class="subtitle center thin">Retrouvez toute l'actualité de la boucherie sur notre site et nos réseaux sociaux</h3>
        <div class="news-container">
            {{ if .ListNews }}
            {{ range .ListNews }}
            <div class="news">
                <div class="news-image-container">
                    <img src="{{ .MediaImage.Path }}" alt="Illustration">
                </div>
                <div class="news-content">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <span class="date">{{ formatDate .PublishedAt "02/01/2006 15:03" }}</span>
                    <p class="card-text mx-2">{{ .Content }}</p>
                    {{ if .MediaLink }}
                    {{ if eq .MediaLink.MediaType "link" }}
                    <a href="{{ .MediaLink.Path }}" target="_blank">Voir le lien</a>
                    {{ else if eq .MediaLink.MediaType "audio" }}
                    <audio controls>
                        <source src="{{ .MediaLink.Path }}" type="audio/mpeg">
                        Votre navigateur ne supporte pas l'audio.
                    </audio>
                    {{ else if eq .MediaLink.MediaType "pdf" }}
                    <a href="{{ .MediaLink.Path }}" target="_blank">Version PDF</a>
                    {{ else if eq .MediaLink.MediaType "images" }}
                    <a href="{{ .MediaLink.Path }}" target="_blank">Version numérique</a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
            {{ else }}
            <div>Aucun article</div>
            {{ end }}
        </div>
        <!-- Bouton Voir Plus -->
        <button id="load-more" class="btn-load-more">Voir plus d'actualités</button>
    </div>

    <div class="container flex-center bg-dark white" id="boucherie-charcuterie">
        <h1 class="white center mx-2">Boucherie & Charcuterie</h1>
        <h3 class="subtitle white center thin">Toutes nos viandes sont de qualité et proviennent d’élevage 100%
            français.</h3>
        <div class="cards-container">
            <div class="card">
                <img src="/assets/img/cote_charolais_bourbonnais.jpg" class="img-fluid"
                    alt="Photo de charolais bourbonnais">
                <div class="card-name">Charolais bourbonnais</div>
            </div>
            <div class="card">
                <img src="/assets/img/agneau_bourbonnais.jpg" class="img-fluid" alt="Photo d'agneau bourbonnais">
                <div class="card-name">Agneau bourbonnais</div>
            </div>
            <div class="card">
                <img src="/assets/img/echine_porc_label_rouge.jpg" class="img-fluid" alt="Photo de porc Label Rouge">
                <div class="card-name">Porc Label Rouge</div>
            </div>
            <div class="card">
                <img src="/assets/img/poulet_label_rouge.png" class="img-fluid"
                    alt="Photo d'un poulet fermier Label Rouge">
                <div class="card-name">Poulet fermier</div>
            </div>
            <div class="card">
                <img src="/assets/img/saucisses.jpg" class="img-fluid"
                    alt="Photo de saucisses proposées à la Belfortaine">
                <div class="card-name">Saucisses</div>
            </div>
            <div class="card">
                <img src="/assets/img/brochettes.jpg" class="img-fluid"
                    alt="Photo de brochettes vendues à la Belfortaine">
                <div class="card-name">Brochettes</div>
            </div>
        </div>

        <div class="gallery">
            <h2 class="center white">Notre galerie photos</h2>
            <div class="gallery-container">
                <button class="arrow left-arrow" onclick="prevSlide()">&#10094;</button>
                <div class="gallery-slides">
                    {{ if and .Gallery .Gallery.Medias }}
                    {{ range .Gallery.Medias }}
                    <img src="{{ .MediaURI.Path }}" class="gallery-pictures" alt="Gallery image">
                    {{ end }}
                    {{ else }}
                    <p>Aucune image disponible</p>
                    {{ end }}
                </div>
                <button class="arrow right-arrow" onclick="nextSlide()">&#10095;</button>
            </div>
        </div>

        <h4 class="center white">Des labels de qualité</h4>

        <div class="labels center mx-2">
            <img src="/assets/img/labels/logo_agneau_du_bourbonnais.png" width="80"
                alt="Logo de Agneau de bourbonnais label de qualité">
            <img src="/assets/img/labels/logo_charolais_du_bourbonnais.png" width="80"
                alt="Logo de Charolais Bourbonnais label de qualité">
            <img src="/assets/img/labels/logo_indication_geographique_protegee.png" width="80"
                alt="Logo de indication géographique protégée label de qualité">
            <img src="/assets/img/labels/logo_label_rouge.png" width="80" alt="Photo de Label Rouge label de qualité">
        </div>
    </div>

    <div class="traiteur">
        <h1 class="center white">Traiteur à emporter</h1>
        <h6 class="center white">Pour toutes commandes, merci de nous contacter la veille par téléphone au 03 84 99 08
            53</h6>
    </div>

    <div class="container flex-center" id="remerciements">
        <h1 class="red center mx-2">Remerciements</h1>
        <h3 class="subtitle center thin">Nous tenions à remercier tous les organismes mentionnés ci-dessous pour leur
            soutien</h3>
        <div class="logos mx-2">
            <img src="/assets/img/sponso/Logo_Journal_L'Est_Républicain_-_2022.svg" width="100"
                style="margin-right: 30px;" alt="Logo de l'est républicain">
            <img src="/assets/img/sponso/logo_mairie_de_belfort.svg" width="70" style="margin-right: 30px;"
                alt="Logo de la mairie de Belfort">
            <img src="/assets/img/sponso/logo-chambre-des-metiers.webp" width="150" style="margin-right: 30px;"
                alt="Logo de la chambre des métiers">
            <img src="/assets/img/sponso/logo-semaville.jpeg" width="100" style="margin-right: 30px;"
                alt="Logo de Semaville">
            <img src="/assets/img/sponso/Logo_cigac.png" width="100" style="margin-right: 30px;" alt="Logo de Cigac">
            <img src="/assets/img/sponso/Logo_Banque_Populaire_2018.svg" width="150" style="margin-right: 30px;"
                alt="Logo de la banque populaire">
            <img src="/assets/img/sponso/logo_laborenov_1-2.png" width="130" style="margin-right: 30px;"
                alt="Logo de Laborenov">
            <img src="/assets/img/sponso/Logo_France_Active.png" width="170" style="margin-right: 30px;"
                alt="Logo de France Active">
            <img src="/assets/img/sponso/logo-emballage_du_lion.png" width="70" alt="Logo de Emballage du Lion">
            <img src="/assets/img/sponso/super_trophee_de_france.jpeg" width="150" alt="Logo de Trophée de France">
        </div>
        <h1 class="center mx-2">Les avis de nos clients</h1>
        <div class="view-reviews">
            <h4 class="center">Consultez les avis sur</h4>
            <div class="reviews-img">
                <a href="https://www.google.com/search?hl=en&q=La%20Belfortaine%20Reviews&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxIxNLE0MjQyMTc3sTQ0MzE3MbQ0MdzAyPiKUcwnUcEpNSctv6gkMTMvVSEotSwztbx4ESsOCQDN_Od1TQAAAA&rldimm=14921247749164741941&tbm=lcl&client=firefox-b-d&sa=X&ved=0CBwQ9fQKKABqFwoTCODNw-KkvYYDFQAAAAAdAAAAABAH&biw=1394&bih=627&dpr=1.36#"
                    target="_blank"><img src="../assets/img/logo_google.png" width="70px" alt=""></a>et
                <a href="https://www.facebook.com/profile.php?id=61557030044286&sk=reviews" target="_blank"><img
                        src="/assets/img/Facebook-Logo-650x366.png" width="90px" alt=""></a>
            </div>
        </div>
        <div class="container-reviews">


            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://g.co/kgs/avbiqNc" target="_blank"><img src="/assets/img/google_ g _logo.svg"
                                alt="Logo Google"></a>
                        <span>Avis Google</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://g.co/kgs/XfYsJVN" target="_blank">Antoine D.</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>Une boucherie charcuterie comme on aime en avoir !
                    Vous serez très bien accueilli, très bien conseillés et surtout vous vous régalerez avec les
                    produits proposés !
                    Vous pouvez y aller sans hésiter.<span>"</span>
                </p>
            </div>

            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://g.co/kgs/avbiqNc" target="_blank"><img src="/assets/img/google_ g _logo.svg"
                                alt="Logo Google"></a>
                        <span>Avis Google</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://g.co/kgs/5E3zB6C" target="_blank">Alex DB</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>La meilleure boucherie que j'ai connue. Une viande d'excellente qualité et un grand
                    professionnalisme. Vive sa réouverture ! 🥳.<span>"</span>
                </p>
            </div>

            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://g.co/kgs/avbiqNc" target="_blank"><img src="/assets/img/google_ g _logo.svg"
                                alt="Logo Google"></a>
                        <span>Avis Google</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://g.co/kgs/FjkDAiv" target="_blank">Aurore B.</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>Nous sommes venus acheter deux rumsteck et la tendresse de la viande était vraiment
                    parfaite zéro gras zéro nerf un délice pour les papilles une chose est sur nous
                    reviendrons!!<span>"</span>
                </p>
            </div>


            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://g.co/kgs/avbiqNc" target="_blank"><img src="/assets/img/google_ g _logo.svg"
                                alt="Logo Google"></a>
                        <span>Avis Google</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://g.co/kgs/hqfLkT9" target="_blank">Julien G.</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>Une boucherie traditionnelle avec d’excellents produits fait maison, travaille en
                    circuit court avec des producteurs locaux.
                    Une viande de qualité exceptionnelle.
                    Le duo JC et Aurélien sont là pour vous accueillir dans la bonne humeur et vous servir en vous
                    conseillant sur leurs produits et leurs cuissons. Ils vous partagent leurs passion : celui de rendre
                    le client heureux avec de la qualité.
                    Merci d’être revenu et rdv à tous à la boucherie la belfortaine !! Faites tourner!!<span>"</span>
                </p>
            </div>

            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://www.facebook.com/profile.php?id=61557030044286&sk=reviews" target="_blank"><img
                                src="/assets/img/logo-fb.png" alt="Logo Facebook"></a>
                        <span>Avis Facebook</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://www.facebook.com/share/p/HRmPvH9j2JTGU4wW/" target="_blank">Xela R.</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>Ouah, Ouah 🤩. Une découverte exceptionnelle. Ce binôme donne vraiment envie. Les
                    produits sont variés.... Que choisir 😬. Cette fois ce sera "grillades" : 1 côte de bœuf 1,3 kg,
                    saucisses, merguez, napolitaine lard fumé et côte de porc. La viande est simplement parfaite. Petit
                    test du pâté croûte le top. Merci mille fois de proposer de vrais aliments d'une aussi grande
                    qualité. je peux vous assurer que je reviendrai très vite. Merci.<span>"</span>
                </p>
            </div>

            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://g.co/kgs/avbiqNc" target="_blank"><img src="/assets/img/google_ g _logo.svg"
                                alt="Logo Google"></a>
                        <span>Avis Google</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://maps.app.goo.gl/j2FvZD5YWEvKUT8U9" target="_blank">Céline S.</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>J'aurai voulu mettre plus d'étoiles mais il n'y en a que 5. Une boucherie au top, avec
                    un large choix de produits, tous aussi appétissant les uns que les autres.
                    Un personnel fort sympathique et souriant.
                    Pour le pâté en croûte, c'est plus qu'une tuerie, il est trop trop bon et le reste de mes achats,
                    j'en parle même pas. Et le sac, trop beau 😃😃
                    Merci beaucoup pour cette découverte. N'hésitez pas à y faire un tour.<span>"</span>
                </p>
            </div>

            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://www.facebook.com/profile.php?id=61557030044286&sk=reviews" target="_blank"><img
                                src="/assets/img/logo-fb.png" alt="Logo Facebook"></a>
                        <span>Avis Facebook</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://www.facebook.com/share/p/Pssc1Ka69F1C1PPF/" target="_blank">Flo L.</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>Si le paradis des viandards existes, je crois qu'il est en ce lieu ! Viandes
                    françaises 🇫🇷, service parfait avec de bons conseils, la fraîcheur, la qualité, la propreté, le
                    prix, les préparations traiteurs au top (pâté lorrain un délice) 😋.
                    Allez y, vous serez enchantés et vous vous régalerez…<span>"</span>
                </p>
            </div>


            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://g.co/kgs/avbiqNc" target="_blank"><img src="/assets/img/google_ g _logo.svg"
                                alt="Logo Google"></a>
                        <span>Avis Google</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://g.co/kgs/m9pXwGu" target="_blank">Alexandre K.</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>Jolie découverte. Superbe binôme qui apporte une réponse à chaque question et des
                    conseils judicieux. Les produits sont très variés et d'une qualité exceptionnelle. Merci pour votre
                    accueil et votre sourire. Je reviendrai très vite pour découvrir encore plus de choses. Vous êtes
                    sur une superbe lancée. Bravo et à très vite 😁.<span>"</span>
                </p>
            </div>


            <div class="card-review">
                <div class="card-header">
                    <div class="avatar">
                        <a href="https://g.co/kgs/avbiqNc" target="_blank"><img src="/assets/img/google_ g _logo.svg"
                                alt="Logo Google"></a>
                        <span>Avis Google</span>
                    </div>
                    <div class="card-description">
                        <div class="name-user">
                            <a href="https://g.co/kgs/RhYeMRC" target="_blank">Amandine E.</a>
                        </div>
                        <div class="stars"></div>
                    </div>
                </div>
                <p class="review">
                    <span>"</span>Une boucherie au top! Les produits sont variés et d’excellente qualité, et l’accueil
                    très convivial avec de bon conseil. N’hésitez pas à y aller vous ne serez pas déçu!<span>"</span>
                </p>
            </div>
        </div>
    </div>

    <div class="container flex-center bg-dark white" id="nous-contacter">
        <h1 class="center mx-2">Contactez-nous</h1>
        <h3 class="subtitle center thin">Pour tous renseignements, n'hésitez pas à nous contacter</h3>

        <div class="container-contact">
            <div class="leftside-contact">
                <img src="/assets/img/logo.svg" alt="Logo de la boucherie charcuterie La Belfortaine">
            </div>
            <div class="middle-contact">
                <h5>Notre adresse</h5>
                <div class="email">
                    <ul>
                        <li>53, Avenue Jean Jaurès<br>90000 Belfort</li>
                        <li><a href="https://maps.app.goo.gl/aWPYSUFc8wQm1RyY9" target="_blank">Voir le plan</a></li>
                    </ul>
                </div>
                <h5 class="mx-2">Horaires d'ouverture</h5>
                <div class="social-footer">
                    <ul>
                        <li><strong>Du mardi au vendredi</strong></li>
                        <li>De 8h00 à 12h15 / 15h00 à 19h00</li>
                        <li><strong>Tous les samedis</strong></li>
                        <li>De 8h00 à 12h15</li>
                    </ul>
                </div>
            </div>

            <div class="rightside-contact">

                <h5>Téléphone</h5>
                <div class="email">
                    <ul>
                        <li><a href="tel:0384990853">03 84 99 08 53</a></li>
                    </ul>
                </div>

                <h5 class="mx-2">Adresse mail</h5>
                <div class="email">
                    <ul>
                        <li><a href="mailto:boucherielabelfortaine@gmail.com">boucherielabelfortaine@gmail.com</a></li>
                    </ul>
                </div>

                <h5 class="mx-2">Réseaux sociaux</h5>
                <div class="social-footer">
                    <a href="https://www.facebook.com/profile.php?id=61557030044286" target="_blank" class="link-social"><i
                            class="fa-brands fa-facebook" style="color: #ffffff;"></i></a>
                    <a href="https://www.instagram.com/labelfortaineboucherie" target="_blank" class="link-social"><i
                            class="fa-brands fa-instagram" style="color: #ffffff; margin-left: 10px;"></i></a>
                    <a href="https://www.tiktok.com/@aure698?_t=ZN-8vUq1RT3aOU&_r=1" target="_blank" class="link-social"><i
                            class="fa-brands fa-tiktok" style="color: #ffffff; margin-left: 10px;"></i></a>
                    <a href="https://www.snapchat.com/add/boucherielabelf?share_id=qgR0EG6ZhAA&locale=fr-FR"
                    target="_blank" class="link-social"><i class="fa-brands fa-snapchat"
                            style="color: #ffffff; margin-left: 10px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}