{{ define "public/login" }}
{{ template "layoutPublic" . }}
{{ end }}

{{ define "login" }}

<div class="login-container">
    <form class="login-form" method="POST" action="/login">
        <h2>Espace de gestion</h2>
        {{ if .Error }}
        <div class="alert alert-error">{{ .Error }}</div>
        {{ end }}
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" placeholder="Votre email" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>
        </div>
        <div class="form-button">
        <button type="submit">Se connecter</button>
    </div>
    <div>
        <a href="{{ hostTraefik }}">Retour sur le site</a></div>
    </form>
</div>
{{ end }}