{{ define "layoutPublic" }}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="http://www.labelfortaine.fr/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- SEO Meta Tags -->
    <meta name="description"
        content="Avec presque 20 ans de métier et une formation plus qu’aboutie je sais aujourd'hui pouvoir apporter : La qualité, la satisfaction client et la proximité. J'ai énormément appris ces dernières années, la clientèle me connaît, j'ai à cœur d'apporter ce dont mes clients ont besoin. Aujourd'hui je souhaite que Belfort retrouve ce lieu convivial et de la bonne viande de charcuterie traditionnelle. Je propose de la viande de qualité, un service dédié et un investissement total pour celles et ceux qui souhaitent venir dans notre boutique. La viande provient de nos agriculteurs français et est certifiée dans le but de soutenir leurs activités. Nous avons eu beaucoup de soutien lors de la création de la société et je remercie tout le monde, désormais mon travail est de vous démontrer que vous avez eu raison. Merci à toutes et à tous, à bientôt à La Belfortaine !">
    <meta name="keywords"
        content="boucherie, charcuterie, traditionnelle, Belfort, viande, qualité, service client, proximité, agriculteurs français">

    <!-- Open Graph Meta Tags -->
    <meta property="og:site_name" content="La Belfortaine">
    <meta property="og:title" content="La Belfortaine - Boucherie & Charcuterie traditionnelle">
    <meta property="og:description"
        content="Avec presque 20 ans de métier et une formation plus qu’aboutie je sais aujourd'hui pouvoir apporter : La qualité, la satisfaction client et la proximité. J'ai énormément appris ces dernières années, la clientèle me connaît, j'ai à cœur d'apporter ce dont mes clients ont besoin. Aujourd'hui je souhaite que Belfort retrouve ce lieu convivial et de la bonne viande de charcuterie traditionnelle. Je propose de la viande de qualité, un service dédié et un investissement total pour celles et ceux qui souhaitent venir dans notre boutique. La viande provient de nos agriculteurs français et est certifiée dans le but de soutenir leurs activités. Nous avons eu beaucoup de soutien lors de la création de la société et je remercie tout le monde, désormais mon travail est de vous démontrer que vous avez eu raison. Merci à toutes et à tous, à bientôt à La Belfortaine !">
    <meta property="og:url" content="https://www.labelfortaine.fr">
    <meta property="og:image" id="og-image" content="http://www.labelfortaine.fr/img/vignette2.png">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="La Belfortaine - Boucherie & Charcuterie traditionnelle">
    <meta name="twitter:description"
        content="Avec presque 20 ans de métier et une formation plus qu’aboutie je sais aujourd'hui pouvoir apporter : La qualité, la satisfaction client et la proximité. J'ai énormément appris ces dernières années, la clientèle me connaît, j'ai à cœur d'apporter ce dont mes clients ont besoin. Aujourd'hui je souhaite que Belfort retrouve ce lieu convivial et de la bonne viande de charcuterie traditionnelle. Je propose de la viande de qualité, un service dédié et un investissement total pour celles et ceux qui souhaitent venir dans notre boutique. La viande provient de nos agriculteurs français et est certifiée dans le but de soutenir leurs activités. Nous avons eu beaucoup de soutien lors de la création de la société et je remercie tout le monde, désormais mon travail est de vous démontrer que vous avez eu raison. Merci à toutes et à tous, à bientôt à La Belfortaine !">
    <meta name="twitter:image" id="twitter-image" content="http://www.labelfortaine.fr/img/vignette2.png">

    <link rel="canonical" href="https://www.labelfortaine.fr">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D74403FKBX" defer></script>
    <script defer>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-D74403FKBX');
    </script>
    <script src="/assets/js/script.js" defer></script>

    <title>{{ .Title }}</title>
</head>

<body class="home-page">
    {{ template "header" . }}

    <main>
        {{ if eq .Content "home" }}
        {{ block "home" . }}
        {{ end }}
        {{ end }}

        {{ if eq .Content "login" }}
        {{ block "login" . }}
        {{ end }}
        {{ end }}
    </main>
    {{ template "footer" . }}
</body>

</html>
{{ end }}